In [ ]:
import sys
import pandas as pd
from pathlib import Path
import numpy as np

sys.path.append(str(Path().resolve().parent))

from scripts.preprocess import preprocess
import scripts.clean as clean

df = pd.read_csv('../data/raw/data.csv')
df = preprocess(df)

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df["ano"].unique()

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
# Clears data frame removing rows with null values
df_clean = df.dropna()
df_clean.isnull().sum()

In [ ]:
# Convert 'ano' column to int
df_clean = df_clean.assign(ano = df_clean['ano'].astype(int))

import pycountry

# Function to convert ISO2 country codes to ISO3
def iso2_to_iso3(code):
    try:
        return pycountry.countries.get(alpha_2=code).alpha_3
    except:
        return None

df_clean['residencia_iso3'] = df_clean['residencia'].apply(iso2_to_iso3)
df_clean.to_csv(
'../data/processed/data_processed.csv',
index=False
)

df_clean.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,remoto,empresa,tamanho_empresa,residencia_iso3
0,2025,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média,USA
1,2025,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média,USA
2,2025,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média,AUS
3,2025,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média,AUS
4,2025,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média,USA